<%= javascript_tag "Cloudsound.welcome = '#{welcome_image}';" %>

<% if flash.now[:errors] %>
<div class="notice slideLeft">
<% flash.now[:errors].each do |msg| %>
  <%= msg %>
<% end %>
</div>
<% end %>

<div class="welcome">
  <h1 class="welcome-header">Listen to the best sounds from around the world</h1>
  <p class="welcome-body small">
    CloudSound is a social music sharing application based on the popular <a style="color: #f50;" href="http://www.soundcloud.com"><u>soundcloud.com</u></a>.
  </p>
  <p class="welcome-body center">
    Take a tour by clicking on the link below!
  </p>
  <form class="guest-login" action="/session/guest" method="post">
    <input
      type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">
  <input class="guest-login" type="submit" name="name" value="Take a tour">
  </form>
</div>





<!-- Modal -->
<div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog slideDown">
    <button type="button" class="modal-close close btn"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content">
      <form id="sign-in" action="/session" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
        <h3 class="modal-sign-in">Sign in</h3>
        <label for="user_username">Username</label>
        <input class="form-control" type="text" name="user[username]" id="user_username">
        <br>

        <label for="user_password">Password</label>
        <input class="form-control" type="password" name="user[password]" id="user_password">
        <br>

        <input class="modal-button btn btn-default" type="submit" value="Log in">
        <div class="modal-footer">
          <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal " id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog slideDown">
    <button type="button" class="modal-close close btn"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content">
      <form id="sign-up" action="/users" method="POST">
        <input
          type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">
          <h3 class="modal-sign-in">Sign up</h3>
        <label for="user_username">Username</label>
        <input class="form-control" type="text" name="user[username]" id="user_username">
        <br>
        <label for="user_password">Password</label>
        <input class="form-control" type="password" name="user[password]" id="user_password">
        <br>
        <input class="modal-button btn btn-default" type="submit" value="Sign Up">
        <div class="modal-footer">
          <button type="button" class="close btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>







<script charset="utf-8">
$(function () {

  $("body").css("background", "url('" + Cloudsound.welcome + "') center no-repeat");
  $("#content").css("background", "none");
});
</script>
