<div id="user-following">

  <div class="notice">
    <div class="msg alert alert-danger">

    </div>
  </div>
  <div class="user-info">
    <h1> <%= user.get("username") %> </h1>
    <% if (user.get("has_avatar")) { %>
      <img class="profile-avatar" src="<%= user.get("avatar_medium") %>" />
    <% } else { %>
      <div class="profile-avatar" style="background:<%= user.get("avatar_gradient") %>" > </div>
    <% } %>
    <div class="follow-links">
      <% if (user.get("relationship")) {%>
        <% if (user.get("relationship").is_following) {%>
          <a href="#" class='unfollow btn btn-default'>Following</a>
        <% } else { %>
          <a href="#" class='follow btn btn-default'>Follow</a>
        <% } %>
      <% } %>
    </div>
    <div class="page-header user-links clearfix">
      <a class="medium link" href="/#user/<%= user.id %>/tracks">Tracks</a>
      <a class="medium link active" href="/#user/<%= user.id %>/following">Following</a>
      <a class="medium link" href="/#user/<%= user.id %>/followers">Followers</a>
    </div>
  </div>
  <div class="follow-users following clearfix">


  </div>
</div>
