

<% if (user.get("has_avatar")) { %>
  <img class="follow-avatar" src="<%= user.get("avatar_medium") %>" />
<% } else { %>
  <div class="follow-avatar" style="background:<%= user.get("avatar_gradient") %>"> </div>
<% } %>

  <div class="user-item-username">
    <a href="/#user/<%= user.get("id") %>"> <%= user.get("username") %> </a>

  </div>
  <div class="user-item-followers">
    <span class="user-followers">
      <span class="count"><%= user.get("followers_count") %></span>
    </span>
  </div>

  <% if (user.get("id") !== parseInt(Cloudsound.current_user, 10) && user.get("relationship")) {%>
    <div class="follow-links list">
      <% if (user.get("relationship").is_following) {%>
        <a href="#" class='unfollowitem btn btn-default'>Following</a>
      <% } else if (!user.get("relationship").is_following) { %>
        <a href="#" class='followitem btn btn-default'>Follow</a>
      <% } %>
    </div>
  <% } %>
