<div class="track-page">

  <div class="track-player">
    <h1 class="track-title col-xs-8"><%= track.get("title") %></h1>
      <h4 class="track-time-ago col-xs-4"> <%= track.get("time_ago") %> </h4>
    <div class="track_item">
      <audio controls>
        <source src="<%= track.get("audio") %>" type="<%= track.get('audio_content_type') %>">
          Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div class="track-options">
    <div>
      <a class="delete-track" href="#">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
      </div>
  </div>

  <div class="user-info">
    <div class="username">
        <span class="h4">
          <%= track.get("user").username %>
        </span>
    </div>
    <div class="user-avatar">
        <img class="avatar-thumb" src="<%= user.get("avatar_thumb") %>" alt="" />
    </div>
    <div class="user-stats">
      <span class="user-followers">
        <span class="count"><%= user.get("follower_count") %></span>
      </span>
      <span class="user-tracks">
        <span class="count"><%= user.get("track_count") %></span>
      </span>

    </div>
  </div>


  <div class="comments">
    <div class="write-comment">
      <img class="avatar-mini" src="<%= user.get("avatar_mini") %>" alt="avatar" />
      <div class="comment-box"></div>
    </div>
    <div class="comment-count">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <span>
        <%= track.get("comment_count") %>
      </span>Comments
    </div>

    <ul class="track-comments list-group">
    </ul>
  </div>

</div>
