<div class="track-page clearfix">



  <div class="track-item">
    <div class="track-info">

      <button class="glyphicon glyphicon-play play btn btn-default" id="button-<%= track.get("id") %>">

      </button>
      <div class="track-item-wrapper time-ago">
        <a class="track-item-user" href="/#user/<%= track.get("user_id")%>" class="comment-username">
          <%= track.get("user").username %>
        </a>
        <span class="track-time-ago"> <%= track.get("time_ago") %> </span>
      </div>
      <div class="track-item-wrapper">
        <a class="track-item-title" href="/#user/<%= track.get("user_id") %>/track/<%= track.get("id") %>">
          <%= track.get("title") %>
        </a>
      </div>
      <div class="track-page-avatar">
        <% if (track.get("has_avatar")) { %>
          <img class="track-avatar-large" style="background:<%= track.get("avatar_gradient") %>" src="<%= user.get("avatar_small") %>" />
        <% } else { %>
          <div class="track-avatar-large" style="background:<%= track.get("avatar_gradient") %>" > </div>
        <% } %>

      </div>
    </div>
    <div class="wave-track" >
      <div class="waveform" id="track-<%= track.get("id") %>" >

      </div>
    </div>
  </div>





  <div class="track-options">
    <% if(user.get("is_current_user")) {%>
    <div class="track-option">
      <a class="delete-track" href="#">
        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
      </a>
    </div>
    <div class="track-option">
      <a class="edit-track" href="#">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
      </a>
    </div>
    <% } %>
  </div>

  <div class="user-info">
    <div class="user-avatar">
      <% if (user.get("has_avatar")) { %>
        <img class="avatar-thumb" style="background:<%= user.get("avatar_gradient") %>" src="<%= user.get("avatar_thumb") %>" />

      <% } else { %>
        <img class="avatar-thumb" style="background:<%= user.get("avatar_gradient") %>" src="//:0" />
      <% } %>
    </div>

    <div class="username">
        <span class="h4">
          <%= track.get("user").username %>
        </span>
    </div>
    <div class="user-stats">
      <span class="user-followers">
        <span class="count"><%= user.get("follower_count") %></span>
      </span>
      <span class="user-tracks">
        <span class="count"><%= user.get("track_count") %></span>
      </span>

    </div>
  </div>

  <div class="track-description">
    <%= track.get("description") %>

  </div>

  <div class="comments">
    <div class="write-comment clearfix">
      <% if (user.get("has_avatar")) { %>
        <img class="avatar-mini" style="background:<%= user.get("avatar_gradient") %>" src="<%= user.get("avatar_mini") %>" />

      <% } else { %>
        <img class="avatar-mini" style="background:<%= user.get("avatar_gradient") %>" src="//:0" />
      <% } %>

      <div class="comment-box"></div>
    </div>
    <div class="comment-count">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <span>
        <%= track.get("comment_count") %>
      </span>Comments
    </div>

    <ul class="track-comments list-group">
    </ul>
  </div>

  <div class="right-sidebar">

  </div>

</div>
