<div class="track-page row">
  <aside class="col-xs-4">
    <div class="page-header col-xs-4 col-xs-offset-4">
      <h4 class="header-center">
          <%= track.get("user").username %>
      </h4>
    </div>

  </aside>


  <div class="col-xs-8">
    <div class="page-header row">
      <h1 class="track-title col-xs-8"><%= track.get("title") %></h1>
      <h4 class="track-time-ago col-xs-4"> <%= track.get("time_ago") %> </h4>
    </div>

    <div class="track-player row">
      <div class="track_item">
        <audio controls>
          <source src="<%= track.get("audio") %>" type="<%= track.get('audio_content_type') %>">
            Your browser does not support the audio element.
        </audio>
      </div>
    </div>

    <div class="track-options row">
      <div>
        <a class="delete-track" href="#">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
        </div>
    </div>

    <div class="comments row">

      <h4 class="header-center">
        Comments
      </h4>

      <ul class="track-comments row list-group">
      </ul>
    </div>

  </div>

</div>
