
<%= form_for @track, :html => { :multipart => true }, :remote => true do |f| %>
  <div class="field">
    <%= f.label :audio %>
    <input type="text" name="track[title]">
    <input type="hidden" name="track[user_id]" value="<%= current_user.id %>">
    <%= f.file_field :audio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
