<!DOCTYPE html>
<html>
<head>
  <title>CloudSound</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= javascript_tag "Cloudsound.current_user = '#{current_user.id}';" if current_user %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/nav" %>
<div class="loader">
  <div class="fade-screen">

  </div>
</div>
<div id="content" class="container">
  <%= yield %>
</div>

<div id="control-bar" >

	<div class="player-control">
		<div id="previous-button" title="Previous" class="glyphicon glyphicon-backward"></div>
		<div id="play-button"  title="Play" class="glyphicon glyphicon-play"></div>
		<div id="pause-button" title="Pause" class="glyphicon glyphicon-pause"></div>
		<div id="stop-button" title="Stop" class="glyphicon glyphicon-stop"></div>
		<div id="next-button" title="Next" class="glyphicon glyphicon-forward"></div>
		<div id="shuffle-button" title="Shuffle Off" class="fa fa-random"></div>
		<div id="repeat-button" title="Repeat Off" class="fa fa-refresh"></div>
	</div>

	<div id="playlist">

		<div id="track-details" title="Show playlist">
			<i class="fa fa-sort"></i>
			<p id="track-desc">There are no tracks loaded in the player.</p>
			<p id="track-time">
				<span id="current">-</span> / <span id="total">-</span>
			</p>
		</div>

		<div id="expand-bar" class="hidden">

			<form>
				<label for="searchBox">Search</label><div><input id="searchBox" type="search" name="search"></div>
			</form>
			<ul id="list"></ul>
		</div>

	</div>
</div>
</body>
</html>
