<!DOCTYPE html>
<html>
<head>
  <title>CloudSound</title>
  <link rel="icon" type="image/png" href="/assets/favicon.ico">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery? %>
  <%= javascript_tag "Cloudsound.current_user = '#{current_user.id}';" if current_user %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/nav" %>
<div class="loader">
  <div class="fade-screen">

  </div>
</div>
<div id="content" class="container">
  <%= yield %>
</div>

<div id="control-bar" class="expandUp" >

	<div class="player-control">
		<div id="previous-button" title="Previous" class="glyphicon glyphicon-backward"></div>
		<div id="play-pause-button"  title="Play" class="glyphicon glyphicon-pause"></div>
		<div id="next-button" title="Next" class="glyphicon glyphicon-forward"></div>

    <div class="seeker">
      <span class="current-time"></span>
        <div class="seeker-bar">
          <div class="seeker-progress">
          </div>
        </div>
      <span class="total-time"></span>
  	</div>
    <div class="control-title">
      <div class="control-avatar">

      </div>
      <span class="control-track-title"></span>
    </div>

  </div>

	<div id="playlist">

		<div id="track-details" title="Show playlist">
			<i class="fa fa-sort"></i>
			<p id="track-desc">There are no tracks loaded in the player.</p>
			<p id="track-time">
				<span id="current">-</span> / <span id="total">-</span>
			</p>
		</div>

		<div id="expand-bar" class="hidden">

			<form>
				<label for="searchBox">Search</label><div><input id="searchBox" type="search" name="search"></div>
			</form>
			<ul id="list"></ul>
		</div>

	</div>

  <script charset="utf-8">

    // $("#next-button").click(function () {
    //
    //   var current = Cloudsound.currentlyPlaying ;
    //   if (Cloudsound.waveTracks) {
    //     Cloudsound.waveTracks.forEach(function (trackItem, index, arr) {
    //       if (current === trackItem.wavesurfer && arr[index + 1]) {
    //         $("#play-pause-button").removeClass("glyphicon-play");
    //         $("#play-pause-button").addClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTarget.addClass("glyphicon-play");
    //         Cloudsound.currentlyPlaying.pause();
    //
    //         Cloudsound.currentlyPlaying = arr[index + 1].wavesurfer;
    //         Cloudsound.currentlyPlayingTarget = arr[index + 1].$("button.glyphicon");
    //         Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-play");
    //         Cloudsound.currentlyPlayingTarget.addClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTitle = arr[index + 1].model.get("title");
    //         $(".control-track-title").text(Cloudsound.currentlyPlayingTitle);
    //         Cloudsound.currentlyPlaying.play();
    //       }
    //     });
    //   }
    // });
    // $("#previous-button").click(function () {
    //   var current = Cloudsound.currentlyPlaying ;
    //   if (Cloudsound.waveTracks) {
    //     Cloudsound.waveTracks.forEach(function (trackItem, index, arr) {
    //       if (current === trackItem.wavesurfer && arr[index - 1]) {
    //         $("#play-pause-button").removeClass("glyphicon-play");
    //         $("#play-pause-button").addClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTarget.addClass("glyphicon-play");
    //         Cloudsound.currentlyPlaying.pause();
    //
    //         Cloudsound.currentlyPlaying = arr[index - 1].wavesurfer;
    //         Cloudsound.currentlyPlayingTarget = arr[index - 1].$("button.glyphicon");
    //         Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-play");
    //         Cloudsound.currentlyPlayingTarget.addClass("glyphicon-pause");
    //         Cloudsound.currentlyPlayingTitle = arr[index - 1].model.get("title");
    //         $(".control-track-title").text(Cloudsound.currentlyPlayingTitle);
    //         Cloudsound.currentlyPlaying.play();
    //       }
    //     });
    //   }
    // });
    //
    // $("#play-pause-button").click(function () {
    //   if ($("#play-pause-button").attr("class").indexOf("glyphicon-pause") > -1) {
    //     $("#play-pause-button").removeClass("glyphicon-pause");
    //     $("#play-pause-button").addClass("glyphicon-play");
    //     Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-pause");
    //     Cloudsound.currentlyPlayingTarget.addClass("glyphicon-play");
    //     Cloudsound.currentlyPlaying.pause();
    //   } else {
    //     $("#play-pause-button").addClass("glyphicon-pause");
    //     $("#play-pause-button").removeClass("glyphicon-play");
    //     Cloudsound.currentlyPlayingTarget.removeClass("glyphicon-play");
    //     Cloudsound.currentlyPlayingTarget.addClass("glyphicon-pause");
    //     $(".control-track-title").text(Cloudsound.currentlyPlayingtitle);
    //     Cloudsound.currentlyPlaying.play();
    //   }
    // });
  </script>

</div>
</body>
</html>
